.post-container {
    padding: 5px;
    margin: 10px 5px 25px 0px;
    background-color: rgb(245, 249, 253);
    border-style: hidden;
    border-radius: 2px;
}

.post-container > .post-header {
    margin: 5px 0px 10px 0px;
    font-size: 30px;
}

.post-container > .post-header > .profile-pic {
    margin-top: 12px;
    min-width: 40px;
    max-width: 60px;
    background-size: cover;
}

.post-container > .post-header > .user-name {
    margin: 2%;
    font-size: 25px;
    font-weight: 530;
}

.post-container > .post-content > .post-content-description > .user-name {
    margin: 1%;
    font-size: 25px;
    font-weight: 540;
}

.post-container > .post-content > .post-content-description > .post-description {
    font-size: 16px;
}

.post-container > .post-actions {
    margin-top:10px;
}

.post-container > .post-actions > .post-actions-vote {
    margin:5px 0px 0px 8px;
}



.post > .ImageSize {
    width: 65%;
    height: 40%;
}

.post > .voted {
    border-style: solid;
    border-width: 1px;
    background-color: lightgreen;
}