.userProfile {
    width: 70%;
    height: 450px;
    margin: 10%;
    border-style: solid;
    border-width: 1px;
}

.first_name {
    width: 20%;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}