.app.header {
    display: flex;
    flex-direction: row;
    min-height: 40px;
    background-color:#47494D;
    color: azure;
    font-size: 20px;
    width: 100%;
    min-width: 850px;
    position: fixed;
    top: 0px;
    white-space: nowrap;
}

.app.header > .app-title {
    display: flex;
    cursor: pointer;
    font-size: 35px;
    font-family: serif;
    color: white;
    min-width: 30%;
    padding: 0px 10px;
}

.app.header > .posts-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    min-width: 33%;
}

.app.header > .user-actions {
    float: right;
    min-width: 33%;
    display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

.app.header > .posts-actions > .add-post {
    cursor: pointer;
    padding: 10px;
}

.app.header > .posts-actions > .view-my-posts {
    cursor: pointer;
    padding: 10px;
}

.app.header > .user-actions {
    padding: 10px;
}

.app.header > .user-actions > .user-name:hover {
    cursor: pointer;
}

.app.header > .user-actions {
    padding: 10px;
}

.app.header > .user-actions > .log-out:hover {
    cursor: pointer;
}
