.header {
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    height: 7%; 
    width: 99%;
    position: fixed;
    margin-top: 1px;
    background-color:#47494D;
}

.header > .appTitle {
    display: flex;
    cursor: pointer;
   /* margin: 2px 220px 5px 25px; */ 
    margin: 0.5% 17% 5% 1%;
    min-height: 15%;
    font-size: 35px;
    font-family: serif;
    min-width: 10%;
    letter-spacing: 2px;
    color: white;
}

.header >.addPost {
    display: flex;
    margin-top: 10px;
    padding-left: 7px;
    border-style: solid;
    border-width: 1px;
    min-width:4%;
    height:27px;
    font-size: 25px;
    font-family: serif;
    letter-spacing: 2px;
    cursor: pointer;
    color: #47494D;
    background-color: lightgray;
    border-radius: 5px;
}


.header > .UserName {
    min-width:7%;
    margin: 10px 10px 5px 45px; 
    float: Right;
    font-size: 30px;
    color: azure;
    font-size: 30px; 
    font-weight: 500;
    text-align: justify;
}


.header > .logOut {
    margin: 14px 0px 5px 65px; 
    width: 50%;
    color: azure;
    min-width:10%;
    text-align: center;
    font-size: 25px;
    height: 50%;
    float: right;
}
