.userInfo {
    display: flex;
    margin:auto;
    margin-top: 50px;
    margin-left: 150px;
    border-style: solid;
    border-width: 2px; 
    width:80%;
    height:480px;
    float: left;
    padding-top: 8px;
    text-align: center;
    font-size:20px;
    font-family: sans-serif;
}

.userInfo > .profile {
    display: flex;
    margin-top: 3%;
    margin-left: 5%;
    width: 85%;
    /* border-style: solid;
    border-width: 1px;  */
    flex-direction: column;
}

.userInfo > .profile > .name {
    display: flex;
    margin-bottom: 7%;
}

.userInfo > .profile > .name > .key{
    margin-top: 2%;
    height: 10%;
    font-family: serif;
    /* border-style: solid;
    border-width: 1px; */
}

.userInfo > .profile > .name > .firstName {
    margin: 5px 25px 5px 25px;
    border-style: solid;
    border-width: 1px;
    min-width: 100px; 
    max-width:250px;
    height:26px;
    float: left;
    padding-top: 8px;
    padding-left: 12px;
    font-size:24px;
    font-family: serif;
}

.userInfo > .firstName:hover {
    cursor: pointer;
}

.userInfo > .profile > .name > .lastName {
    margin: 3px 25px 5px 25px;
    min-width: 175px; 
    max-width: 450px;
    height:26px;
    float: left;
    padding-top: 8px;
    padding-left: 12px;
    font-size:24px;
    font-family: serif;
}

.userInfo > .profile > .name > .userEmail {
    margin: 3px 25px 5px 25px;
    min-width: 350px; 
    max-width:550px;
    height:30px;
    float: left;
    padding-top: 8px;
    padding-left: 12px;
    font-size:24px;
    font-family: serif;
}

.userInfo > .profile > .mailId {
    margin: 3px 25px 5px 25px;
    align-content: center;
    min-width: 150px;
    width:450px;
    height:45px;
    float: left;
    padding-top: 8px;
    text-align: left;
    font-size:24px;
    font-family: serif;
}

.userInfo >  .profilePicture {
    width: 30%;
    height:70%;
    margin: 4%;
    background-size: cover;
}

.userInfo > .profile > .postCount {
    margin: 5px 25px 5px 2px;
    /* border-style: solid;
    border-width: 1px;  */
    min-width: 150px; 
    max-width: 375px;
    height: 40px;
    padding-top: 8px;
    font-size:24px;
    font-family: serif;
    text-align: left;
}

.userInfo > .profile > .postCount > .post-count {
    float: left;
}

.userInfo > .profile > .postCount > .total-count{
    margin: 5px 0px 0px 10px;
    /* border-style: solid;
    border-width: 1px;  */
}

.userInfo > .profile > .user-actions {
    display: flex;
    width: 45%;
    margin-left: 350px;
    height: 150px;
    float: right;
    /* border-style: solid;
    border-width: 1px; */
}

.userInfo > .profile > .user-actions > .home {
    margin-top: 30px;
    margin-left: 35px;
    width: 50%;
    min-height: 20px;
    max-height: 30px;
    padding-top: 8px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.userInfo > .profile > .user-actions > .save {
    margin-top: 30px;
    margin-left: 35px;
    width: 20%;
    min-height: 20px;
    max-height: 35px;
    padding-top:2px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.userInfo > .profile > .user-actions > .save:hover {
    cursor: pointer;
    background-color:  rgb(125, 176, 243);
}

.userInfo > .profile > .user-actions > .home:hover {
    cursor: pointer;
    background-color: rgb(125, 176, 243);
}

.firstName {
    width: 10%;
    height:30%;
    margin: 3%;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.lastName {
    width: 10%;
    height:30%;
    margin: 3%;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.mailId {
    width: 10%;
    height:30%;
    margin: 3%;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}